.input{
    width: 100%;
    min-height: 40px;
    padding-left: 12px;
    height: 20px;
    border-radius: 20px;
    padding: 12px 16px;
    font-size: 16px;
    border: var(--border-style-input);
    margin-top: 5px;
}